.shop-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.product-container {
    width: 70%;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid lightgray;
}